[Desktop Entry]
Type=Application
Name=TokenTools
Comment=Контейнеры КриптоПро на аппаратных токенах
Exec=tokentools-gui
Icon=tokentools
Terminal=false
Categories=Utility;Security;
StartupWMClass=tokentools
